html {
    background: orchid;
}

/* SEARCH BAR */
.search {
    width: 100%;
    /* attachh button to input */
    display: flex;
}
  
  .searchTerm {
    width: 100%;
    border: 3px solid orangered;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ffa500;
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none;
  }
  
  .searchTerm:focus{
    color: orchid;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid orange;
    background: orange;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1rem;
  }
          
  .searchButton:focus {
      outline: 0;
  }
  /* end of searchBar */

  /* MOVING SEARCH BAR */   
 .movingSearchBar {
     margin-top: 120px;
 } 

 #searchForm {
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: orangered;
    box-sizing: border-box;
    border-radius: 25px;
    /* add border to center magnified glass icon */
    border: 4px solid white;
    padding: 5px;
}

#searchForm input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    /* height of input */
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    /* placeholder */
    font-size: 1rem;
    border-radius: 20px;
    padding: 0 20px;
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    cursor: pointer;
}

.fa:before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
}

#searchForm:hover {
    width: 80%;
    cursor: pointer;
}

#searchForm:hover input {
    display: block;
    border: solid 3px orange;
}

#searchForm:hover .fa {
    background: orange;
    color: white;
}

/* switch icon to arrow*/
 #searchForm:hover .fa:before {
    content: "\f061";
}

@media screen and (min-width:460px) {
    #searchForm:hover{
        width: 290px; /* at larger screen will accomodate a longer query (roughly 27 characters)*/
    }
}

/* special fix for firefox only, the positioning of the search element is too high */
@-moz-document url-prefix() {
    #searchForm {
        margin-top: 5px;
    }
}

@-moz-document url-prefix() {
    @media screen and (min-width:600px) {
        #searchForm {
            margin-top: 32px;
            margin-bottom: -25px;
        }
    }
}

/* fix for unwanted movement. We load it here on the body and when the page is loaded we remove the class of preload from the body tag with some JS */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* for unwanted movement on page resize */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}